<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402993811587-84qan834bued1e9qa723hg6rodd6n150.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402993811587-84qan834bued1e9qa723hg6rodd6n150</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>402993811587-d3h00i05s8obdo0hgt70jpjnf57i1ios.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcyGhcZF8hKk6_ii_c4W9V_ydGz_UgGzI</string>
	<key>GCM_SENDER_ID</key>
	<string>402993811587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pharmabox.mobileapp</string>
	<key>PROJECT_ID</key>
	<string>pharmaff-dab40</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmaff-dab40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402993811587:ios:4de5c187084262c32b0bb6</string>
</dict>
</plist>